@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 CardinalRule Ave.<br />
    Louisville, Kentucky 40208<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

